# Supabase project: urbancar-financiero
DATABASE_URL="postgresql://postgres.[PROJECT-REF]:[PASSWORD]@aws-0-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[PROJECT-REF]:[PASSWORD]@aws-0-us-east-1.pooler.supabase.com:5432/postgres"

JWT_SECRET=your_jwt_secret_here
PORT=3005
NODE_ENV=development
CORS_ORIGIN=http://localhost:4200
